{% extends 'base.html' %}
{% block content %}
    <h1 class="text-center mb-3">Poll Questions</h1>
    {% if latest_question_list %}
        {% for question in latest_question_list%}
            <div class="card" style="margin: 30px 10px; padding: 8px; border: solid 2px; border-color: rgb(219, 228, 228); border-radius: 5px;">
                <div class="card-body">
                    <p class="lead">{{ question.question_text}}</p>
                <a href="{% url 'polls:detail' question.id%}" 
                class="btn btn-primary btn-sm">Vote Now
                </a>     
                <a href="{% url 'polls:results' question.id%}" 
                class="btn btn-secondary btn-sm">Results
                </a>           
                </div>
            </div> 
        {% endfor %}
    {% else %}
        <p>No Polls available</p>
    {% endif %}
{% endblock %}
